# PostgreSQL connection string
DATABASE_URI=postgresql://neondb_owner:YOUR_PASSWORD@YOUR_HOST/neondb?sslmode=require

# Payload CMS Secret Key
PAYLOAD_SECRET=YOUR_PAYLOAD_SECRET_KEY

# Public Server URL
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
